@import "../styles/values.scss";
@import "../styles/colors.scss";

.movieDetail {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem;
  flex-wrap: wrap;
  color: $accent;

  @media screen and (min-width: $breakpoint) {
    margin: 1rem 3rem;
    flex-wrap: nowrap;
  }

  .container {
    display: block;
    padding: 0 1rem;

    h4 {
      display: inline;
      margin: 0;
      margin-right: 0.5rem;
      font-size: 1.1rem;
      font-weight: 600;
    }

    .rating {
      color: $light-gray;
    }

    > div {
      margin-bottom: 0.5rem;
    }
  }
}
