@import "../../styles/colors.scss";
@import "../../styles/values.scss";

.header {
  background-color: $primary;
  color: $accent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0.1rem 0.3rem 0.1rem $light-gray;
    padding: 1rem 1rem;

    a {
      color: inherit;
    }

    @media screen and (min-width: $breakpoint) {
      padding: 1rem 3rem;
    }

    .title {
      width: 75%;
      @media screen and (min-width: $breakpoint) {
        width: 400px;
      }
      h4 {
        margin: 0;
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }
}

.push-down{
  height: 5rem;
}